@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
body {
  font-family: "Varela Round", sans-serif;
  min-height: 100dvh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: pulse 2s infinite;
  text-align: center;
  position: relative;
}
body.reveal-gender {
  background-color: #e75480;
  animation: none;
}
body.reveal-gender-fake {
  background-color: #d4decf;
  animation: none;
}

@keyframes pulse {
  0%, 100% {
    background-color: #e75480;
  }
  50% {
    background-color: #89cff0;
  }
}
.confetti {
  height: 10px;
  aspect-ratio: 1;
  border-radius: 50%;
  position: absolute;
}

p {
  margin: 0;
}

.master-circle {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.circle {
  display: inline-flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  border: 40px solid rgba(255, 255, 255, 0.21);
  box-shadow: inset 0 0 21px 0 rgba(0, 0, 0, 0.021);
  height: 600px;
  width: 600px;
  border-radius: 100%;
  transform: rotateY(180deg);
  animation-name: clipCircle;
  animation-duration: 30s;
  animation-iteration-count: infinite;
  animation-timing-function: cubic-bezier(0, 0, 1, 1);
}

@keyframes clipCircle {
  0% {
    clip-path: polygon(50% 50%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%, 50% 0%);
    /* center, top-center*/
  }
  12.5% {
    clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%, 0% 0%);
    /* center, top-center, top-left*/
  }
  25% {
    clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%, 0% 50%);
    /* center, top-center, top-left, left-center*/
  }
  37.5% {
    clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 50%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%, 0% 100%);
    /* center, top-center, top-left, left-center, bottom-left*/
  }
  50% {
    clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 50%, 0% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%, 50% 100%);
    /* center, top-center, top-left, left-center, bottom-left, bottom-center*/
  }
  62.5% {
    clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 50%, 0% 100%, 50% 100%, 100% 100%, 100% 100%, 100% 100%, 100% 100%);
    /* center, top-center, top-left, left-center, bottom-left, bottom-center, bottom-right*/
  }
  75% {
    clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 50%, 0% 100%, 50% 100%, 100% 100%, 100% 50%, 100% 50%, 100% 50%);
    /* center, top-center, top-left, left-center, bottom-left, bottom-center, bottom-right, right-center*/
  }
  87.5% {
    clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 50%, 0% 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0%, 100% 0%);
    /* center, top-center, top-left, left-center, bottom-left, bottom-center, bottom-right, right-center top-right*/
  }
  100% {
    clip-path: polygon(50% 50%, 50% 0%, 0% 0%, 0% 50%, 0% 100%, 50% 100%, 100% 100%, 100% 50%, 100% 0%, 50% 0%);
    /* center, top-center, top-left, left-center, bottom-left, bottom-center, bottom-right, right-center top-right, top-center*/
  }
}
.seconds {
  position: absolute;
  display: inline-flex;
  height: 170px;
  width: 170px;
  justify-content: center;
  align-items: center;
  font-size: 100px;
  line-height: 170px;
  font-family: "Archivo Black", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 15em;
  color: white;
}
.scene1, .scene2, .scene3 {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: relative;
  overflow: hidden;
}
h1{
  position: absolute;
  top: 38%;
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 6em;
  color: white;
  animation: pulseText 2s infinite;
  margin: 0;
}
@media screen and (min-width: 992px) {
  h1{
    top: 30%;
  }
}
div#actual {
  font-size: 3em;
  opacity: 0;
}
div#actual.showed {    
  animation: showIn 2s 1;
  animation-fill-mode: forwards;
}
.overlay{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

@keyframes pulseText {
  0%, 100% {
    color: #ffffff;
  }
  50% {
    color: #ffffff;
  }
}
@keyframes showIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.answer {
  margin: 0;
  position: relative;
  font-size: 15em;
  animation: none;
  font-family: "Archivo Black", sans-serif;
  top: auto;
  color: #6ca953;
}

.answerDef {
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  position: relative;
  font-size: 15em;
  animation: none;
  top: auto;
}
svg#Capa_1 {
  fill: #ffffff;
  width: 69vw;
}